/*Global*/ 

body {
    background-image: url("https://wallpapers.com/images/featured/star-wars-plzcoaffexgf4h81.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

/*Header*/
.page-header h1 {
    color: white;
}

/*Select Leader Button*/


/*Aligns the links below the button*/
.sort-leader {
    position: relative;
    display: inline-block;
}

.dropdown-leader {
    display: none;
    position: absolute;
    background-color: #0099ff;
}

.dropdown-leader a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Style the button that is used to open the dropdown content */
.dropdown-leader-selector:hover + .dropdown-leader, .dropdown-leader:hover {
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-leader a:hover {background-color: #ff0000;}